
{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.21.0"]
                [reagent "0.8.1"]
                [re-frame "0.10.5"]]
 
 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}}}
 :release {:output-dir "dist/"
           :module-hash-names 8
           :build-options {:manifest-name "assets.edn"}}}}}
